<a href="https://colab.research.google.com/github/Nishant-172-bot/Samsung-Innovation-Campus/blob/main/SIC_DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
True and False
True or False

True

In [ ]:
not False

True

In [ ]:
True ^ True #XOR

False

In [ ]:
a=100
a==2 #<=,>=,!= etc

False

In [ ]:
a in range(3, 8) #3 <= a <= 7

False

In [ ]:
try:
  num=int(input("Give number "))
  if num % 2==0:
      print("Even number")
  elif num % 2 != 0:
      print("Odd number")
  else:
      print("Uneccessary else")
except ValueError:
  print("Not a number")

Give number 12254677777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777.777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777777
Not a number

In [ ]:
#WAP to input coordinates and find quadrants
coord =input("Give two coords ")
clist=coord.split(sep="/")

if int(clist[0]) == 0 :
  print("On Y-Axis line")
elif int(clist[1]) == 0:
  print("On X-Axis line")
elif int(clist[0]) == 0 and int(clist[1]) == 0:
  print("Origin")
else:
  if int(clist[0]) >= 0 and int(clist[1]) >= 0:
    print("First Quadrant")
  elif int(clist[0]) <= 0 and int(clist[1]) >= 0:
    print("Second Quadrant")
  elif int(clist[0]) <= 0 and int(clist[1]) <= 0:
    print("Third Quadrant")
  elif int(clist[0]) >= 0 and int(clist[1]) <= 0:
    print("Fourth Quadrant")

Give two coords 0/2
On Y-Axis line

In [ ]:
string=["Python",'Cxmas']
vowels=['a', 'e', 'i', 'o', 'u']
for i in string:
  for j in i:
    if j.lower()=="x":
      break
    elif j.lower() in vowels:
      continue
    print(j)
  print()

P
y
t
h
n

C

In [ ]:
i = 0
while True:
  i += 1
  if i == 3:
    break
  print(i)

1
2

In [ ]:
import random
random.randint(12,13)
random.choice("abcd")
random.choices(vowels)

['u']

#Exercise 1:

In [ ]:

print("  A  "," AAA ","AAAAA"," AAA ","  A  ", sep="\n")

  A
 AAA
AAAAA
 AAA
  A

In [ ]:
GREEN = '\033[92m'
ENDC = '\033[0m'
print("_It", GREEN + "'s my name -Rubina Joshi.\n","And I STudied in IOE Campus_" + ENDC)

_It 's my name -Rubina Joshi.
 And I STudied in IOE Campus_

In [ ]:
print("Day\"s and \\night")

Day"s and \night

In [ ]:
string1="HELLOW WORLD"
print(string1[-1],string1[3])
# print(string1[16]) index error

D L

In [ ]:
slist="PYTHON TUTORIAL"
print(slist[2]+slist[3]+slist[-4]+slist[-3]+slist[-2])

THRIA

In [ ]:
print("5!= ", 5*4*3*2, "\t", "10!=", 10*9*8*7*6*5*4*3*2)

5!=  120 	 10!= 3628800

In [ ]:
rad=int(input("Radius:"))
print("Circumferance: ", 2*3.14*rad, "   Area: ", 3.14*rad*rad )

Radius:1
Circumferance:  6.28    Area:  3.14

In [ ]:
for i in range(2, 7):
  print(i**2)

4
9
16
25
36

In [ ]:
#WAP to give quadrant from two coordinates
coord =input("Give two coords ")
clist=coord.split(sep="/")

if int(clist[0]) == 0 :
  print("On Y-Axis line")
elif int(clist[1]) == 0:
  print("On X-Axis line")
elif int(clist[0]) == 0 and int(clist[1]) == 0:
  print("Origin")
else:
  if int(clist[0]) >= 0 and int(clist[1]) >= 0:
    print("First Quadrant")
  elif int(clist[0]) <= 0 and int(clist[1]) >= 0:
    print("Second Quadrant")
  elif int(clist[0]) <= 0 and int(clist[1]) <= 0:
    print("Third Quadrant")
  elif int(clist[0]) >= 0 and int(clist[1]) <= 0:
    print("Fourth Quadrant")

Give two coords -3/4
Second Quadrant

In [ ]:
while True:
  choice=input("Welcome! Choose order \nBurger(b)\nChicken(c)\nPizza(p)\n")
  if choice=="b":
    print("You chose Burger")
    break
  elif choice=="c":
    print("You chose Chicken")
    break
  elif choice=="p":
    print("You chose Pizza")
    break
  else:
    print('Enter the menu again:')

Welcome! Choose order
Burger(b)
Chicken(c)
Pizza(p)
p
You chose Pizza

In [35]:
nums=input("Give nums: ")
num=nums.split(sep=",")
if num[1]<num[0]>num[2]:
  print(num[0])
elif num[0]<num[1]>num[2]:
  print(num[1])
elif num[0]<num[2]>num[1]:
  print(num[2])
else:
  print("Three are equal")

Give nums: 3,3,5
5

In [28]:
start = 1

for i in range(5):
  if i % 2 == 0:
    for j in range(start , start + 5):
      print(j, end="\t")
  else:
    for j in range(start + 4 , start  - 1 , -1):
      print(j, end="\t")
  start += 5
  print()

1	2	3	4	5
10	9	8	7	6
11	12	13	14	15
20	19	18	17	16
21	22	23	24	25

In [11]:
for i in range(6):
  print("7"*i)

7
77
777
7777
77777

In [18]:
count=1
for i in range(4):
  for j in range(i+1):
    print(count, end="\t")
    count+=1
  print()

1
2	3
4	5	6
7	8	9	10

In [22]:
count=6
for i in range(3):
  for j in range(3-i):
    print(count, end="\t")
    count-=1
  print()

6	5	4
3	2
1

In [29]:
f1=0;f2=1
for i in range(10):
  f3=f1+f2
  f1=f2
  f2=f3
  print(f3,end=",")

1,2,3,5,8,13,21,34,55,89,

In [31]:
st="suresh"
print(st[::-1])

hserus

In [39]:
x=int(input("Number: "))
xlist=list(str(x))
xlist
if xlist[::-1]==xlist:
  print("Palindrome")
else:
  print("Not Palindrome")

Number: 1221
Palindrome

In [45]:
import random
count=0
num=random.randint(1,10)
while True:
  count+=1
  guess=int(input("Enter a Number: "))
  if num<guess:
    print("Too High")
  elif num>guess:
    print("Too Low")
  elif num==guess:
    print("Congrats! Total Try= ",count)
    break
  else:
    continue

Enter a Number: 5
Too Low
Enter a Number: 7
Congrats! Total Try=  2

In [32]:
n = 3
for i in range(n):
    print("  " * (n - i - 1) + "T " * (2 * i + 1))

for i in range(n - 2, -1, -1):
    print("  " * (n - i - 1) + "T " * (2 * i + 1))

    T
  T T T
T T T T T
  T T T
    T

In [6]:
yr=int(input("Enter yr: "))
if (yr % 4 == 0 and not yr % 100 == 0) or ( yr % 400 == 0) :
  print("Leap Year!")
else:
  print("Not a Leap Year!")

Enter yr: 2000
Leap Year!

In [10]:
cm=int(input("Height in cm: "))
wt=int(input("Weight in kg: "))
bmi = wt/(cm/100)**2
print(f"Your BMI: {bmi}")
if bmi<18.5:
  print("Underweight")
elif bmi>=18.5 and bmi<25:
  print("Normal")
elif bmi>=25 and bmi<30:
  print("Pre-obesity")
elif bmi>=30 and bmi<35:
  print("Obesity class 1")
elif bmi>=35 and bmi<40:
  print("Obesity class 2")
else :
  print("Obesity class 3")

Height in cm: 200
Weight in kg: 200
Your BMI: 50.0
Obesity class 3

In [12]:
age=int(input("Age: "))
if age<18 and age>13:
  print("Teenage")
print("Not a teen.")

Age: 212
Not a teen.

In [16]:
num=int(input("Enter a number: "))
for i in range(num):
  if (i+1)%3==0 and (i+1)%5==0:
    print("FizzBuzz")
  elif (i+1)%3==0:
    print("Fizz")
  elif (i+1)%5==0:
    print("Buzz")
  else:
    print(i+1)
range()

Enter a number: 5
1
2
Fizz
4
Buzz

In [24]:
for i in range(2, 50):
    prime = True
    for j in range(2, i):
        if i % j == 0:
            prime = False
            break
    if prime:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47