# 1 PRINT PATTERN

In [1]:
print("  A\n AAA\nAAAAA\n AAA\n  A")

  A
 AAA
AAAAA
 AAA
  A

# 2 Print random string

In [2]:
print("_It's my name - Rubina Joshi.\n And I Studied in IOE Campus_")

_It's my name - Rubina Joshi.
 And I Studied in IOE Campus_

# 3 print " and \n

In [4]:
print("Day\"s and \\night")

Day"s and \night

# 4 Splicing Hellow world

In [8]:
a = "HELLOW WORLD"

print(a[-1])
print(a[3])
print(a[16])

D
L

IndexError: string index out of range

# 5 Print THRIA from PYTHON TUTORIAL

In [12]:
a = "PYTHON TUTORIAL"
a.split()[0][2:4]+a.split()[1][4:7]

'THRIA'

# 6 print 5! 10!

In [14]:
ffact = 1*2*3*4*5
tfact = 1*2*3*4*5*6*7*8*9*10

print(f"5! = {ffact}\n10! = {tfact}")

5! = 120
10! = 3628800

# 7 calculate radius and circumference

In [16]:
r = int(input("Enter the radius of the circle: "))
pi = 3.14159
area = pi*r*r
circ = 2*pi*r
print(f"Circumference of a circle = {circ}, Area of a circle = {area}")

Enter the radius of the circle:  12

Circumference of a circle = 75.39815999999999, Area of a circle = 452.38895999999994

# 8 square table

In [17]:
print("a\tn\ta ** n")
for i in range(2,7):
    print(f"{i}\t2\t{i**2}")

a	n	a ** n
2	2	4
3	2	9
4	2	16
5	2	25
6	2	36

# 9 quadrant detecter

In [19]:
x = int(input("Enter x"))
y = int(input("Enter y"))

if x==0 or y==0:
    print("It lies on the axes")
else:
    if x>0:
        if y>0:
            print("It lies on the 1st quadrant")
        else:
            print("It lies on the 4th quadrant")
    else:
        if y>0:
            print("It lies on the 2nd quadrant")
        else:
            print("It lies on the 3rd quadrant")

Enter x 3
Enter y 4

It lies on the 1st quadrant

# 10 Write a menu ordering system

In [25]:
a = """
Welcome to yummy resturant. Here is the menu.
- Burger(enter b)
- Chicken(enter c)
- Pizza(enter p)
Choose a menu (enter b,c,p)
"""
choice = input(a)
ck = "non existant stuff."
choice =choice.capitalize()
if choice == 'B':
    ck = "burger."
elif choice == 'C':
    ck = "chicken."
elif choice == 'P':
    ck = "Pizza."
print("You chose",ck)

Welcome to yummy resturant. Here is the menu.
- Burger(enter b)
- Chicken(enter c)
- Pizza(enter p)
Choose a menu (enter b,c,p)
 l

You chose non existant stuff.

# 11 Greatest from 3 numbers

In [29]:
inp = input("Enter 3 numbers")
a,b,c = inp.split(",")
g = 0
if b>c:
    if a>b:
        g=a
    else:
        g=b
else:
    if a>c:
        g=a
    else:
        g=c
print(f"The greatest number is {g}")

Enter 3 numbers 5,99,6

The greatest number is 99

# 12 SNAKE MATRIX

In [4]:
n = int(input("Enter the size of the matrix "))
++n
for i in range(0,n):
    x = i*n
    if(i%2 == 0):
         for j in range(x,x+n):
            print(j+1,end=" ")
    else:
        for j in range(x+n,x,-1):
            print(j,end=" ")
    print("")

Enter the size of the matrix  5

1 2 3 4 5
10 9 8 7 6
11 12 13 14 15
20 19 18 17 16
21 22 23 24 25

# 13 generate 7 patttern

In [30]:
for i in range(5):
    print("7"*(i+1))

7
77
777
7777
77777

# 14 1 2 3 4 pattern print

In [35]:
a  = int(input("Enter the range"))
count = 0
for i in range(a):
    for j in range(i):
        count+=1
        print(count, end=" ")
    print("")

Enter the range 10

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36
37 38 39 40 41 42 43 44 45

# 15 reverse pattern

In [18]:
x = int(input("Enter a number "))
b=x
p=0
valid = True
while(b!=0):
    b=b-p
    p=p+1
    if b<0:
        valid = False     
        print("Invalid input")
        break
if valid:
    for i in range (p-1,0,-1):
        for j in range (i):
            print(x,end=" ")
            x -= 1
        print("")

Enter a number  21

21 20 19 18 17 16
15 14 13 12 11
10 9 8 7
6 5 4
3 2
1

# 16 Fibbonachi series

In [36]:
a = 0
b = 1
while(a<9999):
    print(a, end=", ")
    c= a+b
    a=b
    b=c

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765,

# 17 Reverse string

In [38]:
"SURESH"[::-1]

'HSERUS'

# 18 Check palindrome

In [41]:
a = input("Enter a number")
if a == a[::-1]:
    print("It is Palindrome")
else:
    print("It isnt palindrome")

Enter a number 3443

It is Palindrome

# 19 Higher and lower game

In [1]:
import random
r = random.randint(1,100)
a = int(input("Guess a number between 1 and 100"))
while(a!=r):
    if a>r:
        print("Lower")
    if a<r:
        print("Higher")
    a = int(input("Guess again "))
print("Congratulations the correct number was ",r)

Guess a number between 1 and 100 50

Higher

Guess again  75

Lower

Guess again  62

Lower

Guess again  55

Congratulations the correct number was  55

# 20 Same as 1

# 21 leap year calculator

In [3]:
a = int(input("Enter a year"))

if a % 4==0 and (a % 100!=0 or a%400 ==0):
    print(f"{a} is a leap year")
else:
    print(f"{a} is not a leap year")

Enter a year 2024

2024 is a leap year

# 22 BMI

In [19]:
height = int(input("Enter your height in cm: "))
weight = int(input("Enter your weight in kg: "))

height_in_m = height/100

bmi = weight/(height_in_m*height_in_m)

if(bmi < 18.5):
    print("Underweight")
elif(18.5 < bmi < 25):
    print("Normal weight")
elif(25 < bmi < 30):
    print("Pre-obesity ")
elif (30 < bmi < 35):
    print("Obesity class I")
elif (35 < bmi < 40):
    print("Obesity class II")
else:
    print("Obesity class III")

Enter your height in cm:  169
Enter your weight in kg:  75

Pre-obesity

# 23 Teenage checker

In [20]:
a = int(input("Enter your age"))
if 13<=a<=19:
    print("you are a teenager")
else:
    print("you are not a teenager")

Enter your age 19

you are a teenager

# 24 fizzbuzz

In [25]:
out = ""
for i in range(1,101):
    if i%3==0:
        print("fizz", end ="")
    if i%5 == 0:
        print("buzz", end ="")
    if i%3!=0 and i%5!=0:
        print(i, end ="")
    print(", ", end ="")

1, 2, fizz, 4, buzz, fizz, 7, 8, fizz, buzz, 11, fizz, 13, 14, fizzbuzz, 16, 17, fizz, 19, buzz, fizz, 22, 23, fizz, buzz, 26, fizz, 28, 29, fizzbuzz, 31, 32, fizz, 34, buzz, fizz, 37, 38, fizz, buzz, 41, fizz, 43, 44, fizzbuzz, 46, 47, fizz, 49, buzz, fizz, 52, 53, fizz, buzz, 56, fizz, 58, 59, fizzbuzz, 61, 62, fizz, 64, buzz, fizz, 67, 68, fizz, buzz, 71, fizz, 73, 74, fizzbuzz, 76, 77, fizz, 79, buzz, fizz, 82, 83, fizz, buzz, 86, fizz, 88, 89, fizzbuzz, 91, 92, fizz, 94, buzz, fizz, 97, 98, fizz, buzz,

# for i in range (1,100):

In [27]:
for i in range (1,100):
    count = 0
    for j in range (1,i+1):
        if(i%j==0):
            count += 1
    if(count==2):
        print(i,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97